<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- system.serviceModel section is not supported on .NET 6 (see https://devblogs.microsoft.com/dotnet/migrating-a-sample-wpf-app-to-net-core-3-part-2/#updating-wcf-client-usage)-->
    <!--<system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="LisBarsSNBinding" />
      <binding name="laboratoryResearchResultsBinding" />
      <binding name="LaboratoryNsiServiceBinding" />
    </basicHttpBinding>
    <wsHttpBinding>
      <binding name="WSHttpBinding_ILisService">
        <reliableSession enabled="true" />
        <security mode="None" />
      </binding>
    </wsHttpBinding>
  </bindings>
  <client>
    <endpoint address="http://fmba.test.sportlogic.ru/services/LisService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILisService" contract="LisServiceClients.ILisService" name="WSHttpBinding_ILisService" />
    <endpoint address="http://10.31.6.59/demo/webservice/Lis1C/Nomenclature" binding="basicHttpBinding" bindingConfiguration="LisBarsSNBinding" contract="BarsNomenclature.LisBarsSendNomenclature" name="LisBarsSendNomenclature" />
    <endpoint address="http://195.26.187.91:10009/LIS/ProxyService/LaboratoryResearchResultsProxyService" binding="basicHttpBinding" bindingConfiguration="laboratoryResearchResultsBinding" contract="EMIAS.laboratoryResearchResultsPortType" name="laboratoryResearchResultsPort" />
    <endpoint address="http://emias.gov.ru/CUI/LaboratoryNsiService" binding="basicHttpBinding" bindingConfiguration="LaboratoryNsiServiceBinding" contract="EMIAS_Dictionaries.LaboratoryNsiServicePorts" name="LaboratoryNsiService" />
  </client>
</system.serviceModel>-->
</configuration>