<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--
		<add name="ExchangeContext" connectionString="metadata=res://*/ExchangeModel.csdl|res://*/ExchangeModel.ssdl|res://*/ExchangeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIS60;initial catalog=MIS_Exchange_Objects;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->
    <!-- <add name="MisExchangeCacheCnStr" connectionString="data source=testserver1\sql2016;initial catalog=MisExchangeCacheDev1;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True" providerName="System.Data.SqlClient" /> -->
    <add name="MisExchangeCacheCnStr" connectionString="data source=DBSERV\DEV2019;initial catalog=MISExchangeCache3;persist security info=True;user id=sa;password=Sqlserver;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="RegizMapperConnectionStr" connectionString="data source=testserver1\sql2016;initial catalog=MisExchangeMapperFederalServiceDLI;persist security info=True;user id=sa;password=sa;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <!--<add name="RegizMapperConnectionStr" connectionString="data source=DBSERV\DEV2016;initial catalog=MisExchangeMapperFederalServiceDLI_NEW;persist security info=True;user id=sa;password=Sqlserver;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />-->
    <add name="EmiasMapperConnectionStr" connectionString="data source=testserver1\sql2016;initial catalog=MIS_Exchange_developer;persist security info=True;user id=sa;password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup-->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LisBarsSNBinding" closeTimeout="00:10:00" openTimeout="00:00:05"
          receiveTimeout="00:00:05" sendTimeout="00:00:05" />
        <binding maxBufferPoolSize="20000000" maxBufferSize="20000000"
          maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_laboratoryResearchOrdersService"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="laboratoryResearchResultsBinding" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="LaboratoryNsiServiceBinding" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="RequestProcessingStatusSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="GetNewRequestSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="GetNewRequestSOAP11Binding1" />
        <binding name="SendResultObtainedSOAP11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="SendResultObtainedSOAP11Binding1" />
        <binding name="service-across-resultsBinding" />
        <binding name="GetNewRequestSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="RequestProcessingStatusSOAP11Binding1">
          <security mode="Transport" />
        </binding>
        <binding name="SendResultObtainedSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="BarsServiceHttpBinding" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="WebService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILisService">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fmba.test.sportlogic.ru/services/LisService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILisService"
        contract="LisServiceReference.ILisService" name="WSHttpBinding_ILisService" />
      <endpoint address="http://10.31.6.59/demo/webservice/Lis1C/Nomenclature"
        binding="basicHttpBinding" bindingConfiguration="LisBarsSNBinding"
        contract="BarsNomenclature.LisBarsSendNomenclature" name="LisBarsSendNomenclature" />
      <endpoint address="http://195.26.187.91:10009/LIS/ProxyService/LaboratoryResearchResultsProxyService"
        binding="basicHttpBinding" bindingConfiguration="laboratoryResearchResultsBinding"
        contract="EMIAS.laboratoryResearchResultsPortType" name="laboratoryResearchResultsPort" />
      <endpoint address="http://osb.emias.dzm.lanit.ru/cls/LIS/v1S/ProxyService"
        binding="basicHttpBinding" bindingConfiguration="LaboratoryNsiServiceBinding"
        contract="EMIAS_Dictionaries.LaboratoryNsiServicePorts" name="LaboratoryNsiService">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <wsse:UsernameToken wsse:Id="UsernameToken-B39FB683EA274D07F71467989313179205">
              <wsse:Username>TEST</wsse:Username>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="http://ftmis-core4-system.gfish.fccho-moscow.ru:8080/tmis-ws-laboratory/service-across-results"
        binding="basicHttpBinding" bindingConfiguration="service-across-resultsBinding"
        contract="FTMIS.setAnalysisResult.serviceacrossresults" name="service-across-results" />
      <endpoint address="https://rmis33.r-mis.ru/dss/GetNewRequest_"
        binding="basicHttpBinding" bindingConfiguration="GetNewRequestSoap11Binding"
        contract="Inovus.GetNewRequest.GetNewRequestPortType" name="GetNewRequestHttpSoap11Endpoint" />
      <endpoint address="https://rmis33.r-mis.ru/dss/SendResultObtained_"
        binding="basicHttpBinding" bindingConfiguration="SendResultObtainedSoap11Binding"
        contract="Inovus.SendResultObtained.SendResultObtainedPortType"
        name="SendResultObtainedHttpSoap11Endpoint" />
      <endpoint address="https://rmis33.r-mis.ru/dss/RequestProcessingStatus_"
        binding="basicHttpBinding" bindingConfiguration="RequestProcessingStatusSOAP11Binding1"
        contract="Inovus.SendRequestProcessingStatus.LocalRequestProcessingStatusPortType"
        name="SOAP11Endpoint" />
      <endpoint address="http://localhost:7770/mockWebService" behaviorConfiguration="InterinLoggingSoap"
        binding="basicHttpBinding" bindingConfiguration="WebService"
        contract="Interin.WebService" name="WebService" />
    </client>
    <services>
      <service name="ru.novolabs.MisExchange.ExchangeHelpers.BARS.Temp.Service.LisRequestService">
        <endpoint name="BarsEndpoint" binding="basicHttpBinding" bindingConfiguration="BarsServiceHttpBinding" contract="ru.novolabs.MisExchange.ExchangeHelpers.BARS.Temp.Service.ILisRequestService" />
      </service>
      <service name="ru.novolabs.MisExchange.ExchangeHelpers.FTMIS.QueryAnalysisService">
        <endpoint name="FTMISEndpoint" binding="basicHttpBinding" bindingNamespace="ru.novolabs.Integration.FTMIS" behaviorConfiguration="FTMIS_Validation" contract="ru.novolabs.MisExchange.ExchangeHelpers.FTMIS.IqueryAnalysis" />
      </service>
      <service name="ru.novolabs.MisExchange.ExchangeHelpers.RedMine.RedMine_Service" behaviorConfiguration="ServiceBehaviour">
        <endpoint name="RedMineEndpoint" binding="webHttpBinding" contract="ru.novolabs.MisExchange.ExchangeHelpers.RedMine.IRedMine_Service" behaviorConfiguration="web" />
      </service>
	  <service name="ru.novolabs.MisExchange.ExchangeHelpers.EMIAS_COVID19.EmiasCovid19_Service" behaviorConfiguration="ServiceBehaviour">
        <endpoint name="EmiasCovid19Endpoint" binding="webHttpBinding" contract="ru.novolabs.MisExchange.ExchangeHelpers.EMIAS_COVID19.IEmiasCovid19_Service" behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DebugBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior name="SimpleLoggingSoap">
          <SimpleLoggingSoap />
        </behavior>
        <behavior name="FTMIS_Validation">
          <SimpleLoggingSoap />
          <SimpleSchemaValidation SchemaUri=".\ExchangeHelpers\FTMIS\ServiceValidationSchemas\FTMIS_QueryAnalysisMain.xsd" TargetNamespace="ru.novolabs.Integration.FTMIS" />
        </behavior>
        <behavior name="InterinLoggingSoap">
          <InterinLoggingSoap />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="SimpleLoggingSoap" type="ru.novolabs.MisExchange.ServiceClasses.MessageSimpleLoggingBehaviorExtension, MisExchange" />
        <add name="SimpleSchemaValidation" type="ru.novolabs.MisExchange.ServiceClasses.MessageSimpleSchemaValidationExtension, MisExchange" />
        <add name="InterinLoggingSoap" type="ru.novolabs.MisExchange.ExchangeHelpers.Interin.ServiceClasses.InterinLoggingBehaviorExtension, MisExchange" />
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
  </system.serviceModel>-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="enableMigrations" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
  <!-- Включает перехват HTTP-сообщений Fiddler-ом -->
  <!--
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="false" usesystemdefault="true" />
    </defaultProxy>
  </system.net>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>